th {
    color: var(--white);
    font-weight: bold;
    padding: 8px;
}
td {
    color: var(--black);
    padding: 8px;
    width: 100px;
    height: 50px;
}



tr td input {
    display:none;
    position: absolute;
    left: 0;
    top: 0;
}

    tr td input + label {       
        margin: 0;
        display: flex;
        flex-direction:column;
        height: 100%;
        width: 100%;
        cursor: pointer;
        user-select: none;
        align-items: center;
        justify-content:center;
    }

    td p{
        font-size:0.6em;
        margin:0;
    }

    tr td input:checked + label {
        color: var(--white);
        background-color: var(--news-blue);

    }



.column0 {
    background-color: var(--news-gray);
}

tr:nth-child(2n) .column0 {
    background-color: var(--news-gray-light);
}

.column1 {
    background-color: var(--news-yellow);
}

tr:nth-child(2n) .column1 {
    background-color: var(--news-yellow-light);
    ;
}

.column2 {
    background-color: var(--news-orange);
}

tr:nth-child(2n) .column2 {
    background-color: var(--news-orange-light);
}

.column3 {
    background-color: var(--news-red);
}

tr:nth-child(2n) .column3 {
    background-color: var(--news-red-light);
}
