@import"https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Lato:wght@700&display=swap";
:root {
    --text-font: "Karla", sans-serif;
    --title-font: "Lato", sans-serif;
}

html {
  font-size: 14px;
  box-sizing:border-box;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

th,
td {
    text-align: left;
    border: 1px solid black;
}

th {
    background-color: #4474B9;
}



.cell.selected {
    background-color: yellow;
}
