@import"https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Lato:wght@700&display=swap";
:root {
    /*fonts*/
    --text-font: "Karla", sans-serif;
    --title-font: "Lato", sans-serif;
    /*Färgschema*/
    --hv-blue: #31b0d5;
    --hv-blue-light: #5bc0de;
    --hv-blue-dark: #1c4c55;
    --hv-neutral: #c4bfb6;
    --hv-neutral-light: #eeedea;
    /*news färger*/
    --news-blue: #4874b5;
    --news-red: #ec8c83;
    --news-red-light: #f0b8b4;
    --news-orange: #f8c58d;
    --news-orange-light: #fbdfc4;
    --news-yellow: #fef5ad;
    --news-yellow-light: #fefadc;
    --news-gray: #d3d3d3;
    --news-gray-light: #e9e9e9;
    /*vit och svart*/
    --white: #ffffff;
    --black: #202020;
}


html {
  font-size: 14px;
  box-sizing:border-box;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

th,
td {
    text-align: left;
    border: 1px solid black;
}

th {
    background-color: #4474B9;
}



.cell.selected {
    background-color: yellow;
}

/* chart stuff*/
.chart-container {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    max-width: 1280px;
    padding: 2rem;
    overflow: hidden;
}

.chart {
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.hide {
    position: fixed;
    transform: scale(0);
    opacity: 0;
}

.options-container {
    display: flex;
    margin: 8px;
    gap: 4px;
    align-items: center;
    font-size: large;
}
