@{
    ViewData["Title"] = "Om appen";
}
<link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
<div>
    @*TODO: Patientindex skall vara här*@
	<div class="content-wrapper">
    @*TODO: Om appen skall vara här*@
            <div class="about">
                <h1 class="text-center">@ViewData["Title"]</h1>
                <p>lite text som beskriver  vad appen är och gör</p>
            </div>
        
            
        <div class="iteration">
            
            <h2>Projektteam - SGSIS HT 2021</h2>
            <div class="results">
            <p>Det vi gjorde i appen var att etc etc etc.</p>
            </div>
            <div class="separator"></div>
            <div class="members">
                <div class="member">
                    <h3>Julia Westlund</h3>
                    <h4>Projektledare</h4>
                    <p>Planering, dokumentation, utvecklare och kommunikationsansvarig</p>
                        <div class="icons">
                        <i class="fa-solid fa-code"></i>
                        <i class="fa-brands fa-css3-alt"></i>
                        <i class="fa-brands fa-js"></i>
                        <i class="fa-solid fa-file"></i>
                        <i class="fa-solid fa-comments"></i>
                        <i class="fa-regular fa-calendar"></i>
                    </div>
                </div>

                <div class="member">
                    <h3>Sebastian Nilsson</h3>
                    <h4>Frontendansvarig</h4>
                    <p>CSS, Javascript, Chart.JS, UX/implementering av design samt dokumentation</p>
                    <div class="icons">
                        <i class="fa-solid fa-code"></i>
                        <i class="fa-brands fa-css3-alt"></i>
                        <i class="fa-brands fa-js"></i>
                        <i class="fa-brands fa-figma"></i>
                        <i class="fa-solid fa-file"></i>
                        <a target="_blank" href="https://github.com/VERTIGOJACK">https://github.com/VERTIGOJACK</a>
                    </div>
                </div>

                <div class="member">
                    <h3>Christian Bernheim</h3>
                    <h4>Backendansvarig</h4>
                    <p>ASP.NET, Server, API och databas</p>
                    <div class="icons">
                        <i class="fa-solid fa-code"></i>
                        <i class="fa-brands fa-css3-alt"></i>
                        <i class="fa-solid fa-database"></i>
                        <i class="fa-solid fa-server"></i>
                    </div>
                </div>
             
                <div class="member">
                    <h3>Dominiq Salo</h3>
                    <h4>Utvecklare</h4>
                    <p>Utvecklare i projektet</p>
                    <div class="icons">
                        <i class="fa-solid fa-code"></i>
                    </div>
                </div>
                 <div class="member">
                    <h3>Ahmed T Khalil</h3>
                    <h4>Utvecklare</h4>
                    <p>Utvecklare i projektet</p>
                    <div class="icons">
                        <i class="fa-solid fa-code"></i>
                    </div>
                </div>
                <div class="member">
                    <h3>Ibrahim Abdullahi</h3>
                    <h4>Utvecklare</h4>
                    <p>Utvecklare i projektet</p>
                    <div class="icons">
                        <i class="fa-solid fa-code"></i>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>
<script src="https://kit.fontawesome.com/8d19f5f0e9.js" crossorigin="anonymous"></script>
