@{
    ViewData["Title"] = "Om appen";
}

<link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
<div class="content-wrapper">
<div class="headingguide"><h1>NEWS 2 Användarguide </h1></div>
    <div>

        <h4>Mätning av patient</h4>
        <p>
            
           
            Genom en Ipads kamera ska studenten kunna skanna en QR-kod och få upp korrekt patient för att starta inmatning av mätvärdena, det går även att gå direkt till patienten från applikationen genom att patientöversikten och genom att klicka på den önskade patientens länk för att komma till inmatning av värden. Inmatningen görs genom att klicka i de rutor i tabellen som innehåller de värden som stämmer överens med patientens mätning. Studenten kan avmarkera en ruta i tabellen genom att klicka i samma ruta igen eller genom att markera en annan ruta.
            När studenten är färdig med inmatningen så kan den klicka på knappen ”skicka in”. Om studenten har missat något här kan studenten antingen klicka på ”nej” eller krysset i det högra hörnet på rutan med frågan ”Är du säker på att du vill skicka in?” och går då tillbaka till mätningen. Om studenten känner sig klar så klickar den på Ja i rutan. Då sker en uträkning och summering av värdena enligt NEWS2 och visar åtgärdstrappan med resultat och instruktioner.
            (Bilder med pilar till knappar)
            Resultat och åtgärdstrappa
            Efter en inskickad mätning kommer studenten till NEWS2 åtgärdstrappan. Summan av inmatningen räknas ihop och resultatet kommer att visas upp enligt denna inmatning. Hela åtgärdstrappan kommer att visas upp, dock är det korrekta resultatet inringat med en blå ruta så studenten enkelt kan se hur resultatet blev.

          

        </p>
        <div class="usercontainer">
            <img class="userguide" src="~/images/matning.png" alt="Mäta">
            <img class="userguide" src="~/images/skickamatning.png" alt="Skicka matning">
        </div>
        <h4>Resultat och åtgärdstrappa</h4>
        <p>Efter en inskickad mätning kommer studenten till NEWS2 åtgärdstrappan. Summan av inmatningen räknas ihop och 
            resultatet kommer att visas upp enligt denna inmatning. Hela åtgärdstrappan kommer att visas upp, dock är det korrekta
            resultatet inringat med en blå ruta så studenten enkelt kan se hur resultatet blev. Studenten kan då välja att uytföra en ny mätning eller att se patientens hitorik. </p>
        <img class="userguide" src="~/images/atgärds.png" alt="Skicka matning">
        <h4>Patienthistorik</h4>
        <p>För att se en patients historik kan studenten skanna patientens QR-kod för att sedan komma till inmatning av NEW2. Längst ner finns en knapp för historik. Klicka på knappen för att komma till den patientens personliga historik. Knappen ”Visa historik” finns även under åtgärdstrappan om man vill se historiken direkt efter en mätning. Historiken kan visas på två sett, genom en tabell med de senaste mätningarna och genom att klicka på switch-knappen kan historiken visar på en graf med NEWS2-resultaten över tid för den patienten.   Om studenten vill se senaste åtgärden i åtgärdstrappan finns också en knapp för detta som heter ”Visa åtgärd” som kan klickas på för att se detta. </p>
            <img class="userguide" src="~/images/visahistorik.png" alt="Visa Historik.">
      

        <h4>Radera historik</h4>
        

        <p>
            Om studenten vill radera historik finns två knappar för detta på samma sida som historiken. En knapp för att radera den senaste mätningen och en knapp för att radera all tidigare historik för patienten. Klicka på knappen för att radera historik,
            klicka sen ”radera” i rutan med frågan ”Är du säker på att du vill radera senaste mätning” eller i rutan som frågar ”är du säker på att du vill radera all historik”.
            Om studenten inte vill radera historiken så kan den klicka Avbryt eller på krysset högst upp till höger i rutan.
        </p>
        <img class="userguide" src="~/images/tabort.png" alt="Ta bort historik">
        <h4>Information om applikationen</h4>
        <p>I applikationen kan användare läsa om NEW2 och skaparna av applikationen genom att klicka på ”Om appen” i navigeringsbaren. Användaren kommer då till sidan där information om applikationen och NEWS2-modellen och projektet. Här kan man också läsa om vilka som skapat den och vilka ansvar varje person haft i skapandet. </p>
        <div class="usercontainer">
            <img class="userguide" src="~/images/omappen.png" alt="omappen">
            <img class="userguide" src="~/images/omappen2.png" alt="Skicka matning">
        </div>
    </div>
</div>