@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
		<h1>NATIONAL EARLY WARNING SCORE 2 (NEWS2)</h1>
	<table>
		<tr>
			<th>Fysiologiska arametrar</th>
			<th>3</th>
			<th>2</th>
			<th>1</th>
			<th>0</th>
			<th>1</th>
			<th>2</th>
			<th>3</th>
		</tr>
		<tr>
			<th>Andningsfrekvens</th>
			<td class="cell, column3">8</td>
			<td class="cell, column2"></td>
			<td class="cell, column1">9-11</td>
			<td class="cell, column0">12-20</td>
			<td class="cell, column1"></td>
			<td class="cell, column2">21-24</td>
			<td class="cell, column3">25</td>
		</tr>
		<tr class="tableRow">
			<th>Syremättnad 1</th>
			<td class="cell, column3"> ≤91 </td>
			<td class="cell, column2"> 92-93 </td>
			<td class="cell, column1"> 94-95 </td>
			<td class="cell, column0"> ≥96 </td>
			<td class="cell, column1">  </td>
			<td class="cell, column2">  </td>
			<td class="cell, column3">  </td>
		</tr>
		<tr>
			<th>Syremättnad 2</th>
			<td class="cell, column3"> ≤83 </td>
			<td class="cell, column2"> 84-85 </td>
			<td class="cell, column1"> 86-87 </td>
			<td class="cell, column0"> 88-92 </td>
			<td class="cell, column1"> 93-94 <br/> med syrgas </td>
			<td class="cell, column2"> 95-96 <br /> med syrgas </td>
			<td class="cell, column3"> ≥97 <br /> med syrgas </td>
		</tr>
		<tr>
			<th>Tillförd syrgas</th>
			<td class="cell, column3"></td>
			<td class="cell, column2">Ja </td>
			<td class="cell, column1"></td>
			<td class="cell, column0">Nej </td>
			<td class="cell, column1"></td>
			<td class="cell, column2"></td>
			<td class="cell, column3"></td>
		</tr>
		<tr>
			<th>Systoliskt blodtryck</th>
			<td class="cell, column3"> ≤90 </td>
			<td class="cell, column2"> 91-100 </td>
			<td class="cell, column1"> 101-110 </td>
			<td class="cell, column0"> 111-219 </td>
			<td class="cell, column1">  </td>
			<td class="cell, column2">  </td>
			<td class="cell, column3"> ≥220 </td>
		</tr>
		<tr>
			<th>Pulsfrekvens**</th>
			<td class="cell, column3"> ≤40 </td>
			<td class="cell, column2">  </td>
			<td class="cell, column1"> 41-50 </td>
			<td class="cell, column0"> 51-90 </td>
			<td class="cell, column1"> 91-110 </td>
			<td class="cell, column2"> 111-130 </td>
			<td class="cell, column3"> ≥131 </td>
		</tr>
		<tr>
			<th>Medvetandegrad***</th>
			<td class="cell, column3">  </td>
			<td class="cell, column2">  </td>
			<td class="cell, column1">  </td>
			<td class="cell, column0"> A </td>
			<td class="cell, column1">  </td>
			<td class="cell, column2">  </td>
			<td class="cell, column3"> C V P U </td>
		</tr>
		<tr>
			<th>Temperatur</th>
			<td class="cell, column3"> ≤35.0 </td>
			<td class="cell, column2">  </td>
			<td class="cell, column1"> 35,1-36,0 </td>
			<td class="cell, column0"> 36,1-38,0 </td>
			<td class="cell, column1"> 38,1-39,0 </td>
			<td class="cell, column2"> ≥39,1 </td>
			<td class="cell, column3">  </td>
		</tr>
	</table>

</div>

