@using KLC.Models
@Model PatientViewModel
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/NEWS.css" asp-append-version="true" />
<div class="text-center">
    @*TODO: Patientindex skall vara här*@
	<div class="content-wrapper">
		<div class="title-section">
			<h1>Patientindex</h1>
		</div>
		<div class="patient-index-wrapper">
			@*tabell för patientindex*@
		<table>
		<tr>
			<th>Id</th>
			<th>Personnummer</th>
			<th>Länk</th>
		</tr>			
		@for (var i = 0; i < 16; i++)
		{
			Patient element = @Model.AllPatients[i];
			<tr>
				<td>@element.Id</td>
				<td>@element.Personnummer</td>
				<td><a  class="newsbutton" asp-controller="Patient" asp-action="Index" asp-route-id="@element.Id">Länk</a></td>
			</tr>
		}
		</table>
		</div>
	</div>


	

	<script>

	</script>

</div>

