@using KLC.Models
@model PatientViewModel
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/NEWS.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css asp-append-version="true" />
<div class="text-center">
    @*Tabell för inmatning news*@
	<div class="content-wrapper">
		<div class="title-section">
			<div class="patient-wrapper">
				<div class="white-on-blue">
					<p>Fyll i värden för patient @(Model.Patient.Id):</p>
				</div>
				<div>
					<p>@Model.Patient.Personnummer</p>
				</div>
			</div>
			<h1>NEWS 2</h1>
		</div>
		<form id="newsform" name="newsform" asp-controller="Patient" method="post" asp-action="Results">
		<table>
			<tr>
				<th>Fysiologiska parametrar</th>
				<th class="text-center">3</th>
				<th class="text-center">2</th>
				<th class="text-center">1</th>
				<th class="text-center">0</th>
				<th class="text-center">1</th>
				<th class="text-center">2</th>
				<th class="text-center">3</th>
			</tr>
			<tr>
				<th>Andningsfrekvens</th>
				<td class="column3"><input type="radio" name="andningsfrekvens" value="-3" id="anf_1"/><label for="anf_1">≤8</label></td>
				<td class="column2"></td>
				<td class="column1"><input type="radio" name="andningsfrekvens" value="-1" id="anf_2"/><label for="anf_2">9-11</label></td>
				<td class="column0"><input type="radio" name="andningsfrekvens" value="0" id="anf_3"/><label for="anf_3">12-20</label></td>
				<td class="column1"></td>
				<td class="column2"><input type="radio" name="andningsfrekvens" value="2" id="anf_4"/><label for="anf_4">21-24</label></td>
				<td class="column3"><input type="radio" name="andningsfrekvens" value="3" id="anf_5"/><label for="anf_5">≥25</label></td>
			</tr>
			<tr>
				<th>Syremättnad 1</th>
				<td class="column3"><input type="radio" name="syremättnad" value="-3" id="syrma_1"/><label for="syrma_1">≤91</label></td>
				<td class="column2"><input type="radio" name="syremättnad" value="-2" id="syrma_2"/><label for="syrma_2">92-93</label></td>
				<td class="column1"><input type="radio" name="syremättnad" value="-1" id="syrma_3"/><label for="syrma_3">94-95</label></td>
				<td class="column0"><input type="radio" name="syremättnad" value="0" id="syrma_4"/><label for="syrma_4">≥96</label></td>
				<td class="column1">  </td>
				<td class="column2">  </td>
				<td class="column3">  </td>
			</tr>
			<tr>
				<th>Syremättnad 2*</th>
				<td class="column3"><input type="radio" name="syremättnad" value="-3" id="syrmb_1"/><label for="syrmb_1">≤83</label></td>
				<td class="column2"><input type="radio" name="syremättnad" value="-2" id="syrmb_2"/><label for="syrmb_2">84-85</label></td>
				<td class="column1"><input type="radio" name="syremättnad" value="-1" id="syrmb_3"/><label for="syrmb_3">86-87</label></td>
				<td class="column0"><input type="radio" name="syremättnad" value="0" id="syrmb_4"/><label for="syrmb_4">88-92</label></td>
				<td class="column1"><input type="radio" name="syremättnad" value="1" id="syrmb_5"/><label for="syrmb_5">93-94<p>med syrgas</p></label></td>
				<td class="column2"><input type="radio" name="syremättnad" value="2" id="syrmb_6"/><label for="syrmb_6">95-96<p>med syrgas</p></label></td>
				<td class="column3"><input type="radio" name="syremättnad" value="3" id="syrmb_7"/><label for="syrmb_7">≥97<p>med syrgas</p></label></td>
			</tr>
			<tr>
				<th>Tillförd syrgas</th>
				<td class="column3"></td>
				<td class="column2"><input type="radio" name="syrgas" value="-2" id="syrg_1" /><label for="syrg_1">Ja</label></td>
				<td class="column1"></td>
				<td class="column0"><input type="radio" name="syrgas" value="0" id="syrg_2" /><label for="syrg_2">Nej</label></td>
				<td class="column1"></td>
				<td class="column2"></td>
				<td class="column3"></td>
			</tr>
			<tr>
				<th>Systoliskt blodtryck</th>
				<td class="column3"> <input type="radio" name="systolisktblodtryck" value="-3" id="systb_1" /><label for="systb_1">≤90</label></td>
				<td class="column2"> <input type="radio" name="systolisktblodtryck" value="-2" id="systb_2" /><label for="systb_2">91-100</label></td>
				<td class="column1"> <input type="radio" name="systolisktblodtryck" value="-1" id="systb_3" /><label for="systb_3">101-110</label></td>
				<td class="column0"> <input type="radio" name="systolisktblodtryck" value="0" id="systb_4" /><label for="systb_4">111-219</label></td>
				<td class="column1">  </td>
				<td class="column2">  </td>
				<td class="column3"><input type="radio" name="systolisktblodtryck" value="3" id="systb_5" /><label for="systb_5"> ≥220</label></td>
			</tr>
			<tr>
				<th>Pulsfrekvens**</th>
				<td class="column3"> <input type="radio" name="pulsfrekvens" value="-3" id="pulsf_1" /><label for="pulsf_1">≤40</label></td>
				<td class="column2">  </td>
				<td class="column1"> <input type="radio" name="pulsfrekvens" value="-1" id="pulsf_2" /><label for="pulsf_2">41-50</label></td>
				<td class="column0"> <input type="radio" name="pulsfrekvens" value="0" id="pulsf_3" /><label for="pulsf_3">51-90</label></td>
				<td class="column1"><input type="radio" name="pulsfrekvens" value="1" id="pulsf_4" /><label for="pulsf_4">91-100</label></td>
				<td class="column2"> <input type="radio" name="pulsfrekvens" value="2" id="pulsf_5" /><label for="pulsf_5">111-130</label></td>
				<td class="column3"><input type="radio" name="pulsfrekvens" value="3" id="pulsf_6" /><label for="pulsf_6">≥131</label></td>
			</tr>
			<tr>
				<th>Medvetandegrad***</th>
				<td class="column3">  </td>
				<td class="column2">  </td>
				<td class="column1">  </td>
				<td class="column0"><input type="radio" name="medvetandegrad" value="0" id="medv_1" /><label for="medv_1">A</label></td>
				<td class="column1">  </td>
				<td class="column2">  </td>
				<td class="column3"><input type="radio" name="medvetandegrad" value="3" id="medv_2" /><label for="medv_2">C V P U</label></td>
			</tr>
			<tr>
				<th>Temperatur</th>
				<td class="column3"> <input type="radio" name="temperatur" value="-3" id="temp_1" /><label for="temp_1">≤35.0</label></td>
				<td class="column2">  </td>
				<td class="column1"><input type="radio" name="temperatur" value="-1" id="temp_2" /><label for="temp_2">35,1-36,0</label></td>
				<td class="column0"><input type="radio" name="temperatur" value="0" id="temp_3" /><label for="temp_3">36,1-38,0</label></td>
				<td class="column1"><input type="radio" name="temperatur" value="1" id="temp_4" /><label for="temp_4">38,1-39,0</label></td>
				<td class="column2"><input type="radio" name="temperatur" value="2" id="temp_5" /><label for="temp_5"> ≥39,1</label></td>
				<td class="column3">  </td>
			</tr>
		</table>
		</form>	

		<div class="info-section">
			<p>* Syremättnad 2 används endast efter läkarordination vid låg habituell syremättnad t.ex. KOL</p>
			<p>** Om hjärtfrekvens mäts skall detta användas istället för pulsfrekvens i danna parameter</p>
			<p>*** Medvetandegrad: A=alert, C=confusion (nytillkommen eller förvärrad förvirring), V=voice (reagerar med ögonöppning, tal eller rörelse vid tilltal/kraftiga tillrop), P=pain (reagerar vid smärtstimulering), U=unrepsonsive (reagerar ej vid tilltal/smärtstimulering)</p>
		</div>

	</div>

	

	<div class="controls">
		@* kan inte göra såhär med submit, göm denna knapp i modal istället och gör JS trams*@
	@*<input class="newsbutton submit" type="submit" form="newsform" value="Skicka in" />*@

		<button class="newsbutton submit" type="submit" onclick="openPopup()">Skicka in</button>
		@* onclick="openPopup()"*@
		<div class="overlay"></div>
		<div class="popup" id="popup">
			<button class="closepopupwindow" onclick="closePopup()">X</button>		
		<h2>Är du säker på att du vill skicka in?</h2> 
		@*<div class="Något För att lägga knappar brevid varandra centrerat?">
		<button>onclick="closePopup()">Nej</button> *@
		<button type="submit" form="newsform" onclick="closePopup()">Ja</button>
		@*</div>*@
	</div>
	<div class="separator"></div>
	<a  class="newsbutton" asp-controller="Patient" asp-action="Results">Visa Åtgärd</a>
	<a  class="newsbutton" asp-controller="Patient" asp-action="Statistics">Visa Graf</a>
	</div>
	

	<script>
	//override för mousedown, annars fungerar inte select/deselect i tabellen.
	document.addEventListener("mousedown", (e) => {
	//om klick på label, hämtar radioknapp genom for attributet
    const radio = document.querySelector("#" + e.target.attributes.for.nodeValue);
	//om redioknappen har klickats i, sätt dit en ny klickfunktion som sätter checked till false, och tar bort sig själv efter den aktiverats.
    if (radio.checked) {
        const override = () => {
            radio.checked = false;
            radio.removeEventListener("click", override);
        }
        radio.addEventListener("click", override);
    }
	});
	</script>
	<script>
		// Get the popup and overlay elements
		let popup = document.getElementById("popup");
		let overlay = document.querySelector(".overlay");

		function openPopup() {
			// Show the popup and overlay
			popup.classList.add("openPopup");
			overlay.style.display = "block";
		}

		function closePopup() {
			// Hide the popup and overlay
			popup.classList.remove("openPopup");
			overlay.style.display = "none";
		}


	</script>

</div>

