@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/NEWS.css" asp-append-version="true" />
<div class="text-center">
    @*TODO: Resultat för mätning (åtgärdstrappa) skall vara här*@
	<h1>ÅTGÄRDSTRAPPA ENLIGT NEWS2</h1>
	<table>
		<tr>
			<th>NEWS</th>
            <th class="text-center">ÖVERVAKNINGSFREKVENS</th>
            <th class="text-center">ÅTGÄRD</th>
			
		</tr>
		<tr>
			<th>0</th>
			<td class="column3">Senast inom 12 timmar</td>
			<td class="column2"><p>Fortsätt övervaka NEWS enl rekommenderad övervakningsfrekvens</p></td>
			
		</tr>
		<tr>
			<th>Totalt 1-4</th>
			<td class="column3">Senast inom 4-6 timmar</td>
			<td class="column2"><p>• Informera ansvarig sjuksköterska om NEWS-värdet.<br> • Ansvarig sjuksköterska bedömer om övervakningsfrekvensen ska ökas samt behov av läkarbedömning</p></td>
			
		</tr>
		<tr>
			<th>3 poäng i en parameter</th>
			<td class="column3"> Senast inom 1 timme* </td>
			<td class="column2"><p>• Ansvarig sjuksköterska ska informera ansvarig läkare.<br> • Brådskande bedömning av ansvarig läkare samt eventuellt kontakt med MG-team.</p></td>
			
		<tr>
			<th>Totalt 5-6</th>
			<td class="cell, column3"> Senast inom 1 timme* </td>
            <td class="cell, column2"><p>• Ansvarig sjuksköterska ska informera ansvarig läkare.<br> • Brådskande bedömning av ansvarig läkare samt eventuellt kontakt med MG-team.<br> • Överväg vård med möjlighet till tät tillsyn och övervakning.</p> </td>
			
		</tr>
		<tr>
			<th>Totalt ≥7</th>
            <td class="cell, column3"> Överväg kontinuerlig övervakning* </td>
            <td class="cell, column2"> <p>• Ansvarig sjuksköterska ska omedelbart tillkalla ansvarig läkare.<br> • Överväg kontakt med MIG-team.<br> • Överväg att flytta patienten till högre vårdnivå. </p></td>
		</tr>
	</table>

		<div class="controls">
		@* kan inte göra såhär med submit, göm denna knapp i modal istället och gör JS trams*@
	<a  class="newsbutton submit" asp-controller="Patient" asp-action="Index">Ny mätning</a>
	<div class="separator"></div>
	<a  class="newsbutton" asp-controller="Patient" asp-action="Statistics">Visa historik</a>
	</div>

	<script>
	//override för mousedown, annars fungerar inte select/deselect i tabellen.
	document.addEventListener("mousedown", (e) => {
	//om klick på label, hämtar radioknapp genom for attributet
    const radio = document.querySelector("#" + e.target.attributes.for.nodeValue);
	//om redioknappen har klickats i, sätt dit en ny klickfunktion som sätter checked till false, och tar bort sig själv efter den aktiverats.
    if (radio.checked) {
        const override = () => {
            radio.checked = false;
            radio.removeEventListener("click", override);
        }
        radio.addEventListener("click", override);
    }
	});
	</script>

</div>

