@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/NEWS.css" asp-append-version="true" />
<div class="text-center">
    @*TODO: Resultat för mätning (åtgärdstrappa) skall vara här*@
	<div class="text-center">
    @*Tabell för inmatning news*@
	<div class="content-wrapper">
			<div class="title-section">
				<div class="patient-wrapper">
					<div class="white-on-blue">
						<p>Fyll i värden för patient 4:</p>
					</div>
					<div>
						<p>1991-09-26-XXXX</p>
					</div>
				</div>
				<h1>NEWS 2</h1>
			</div>
		<h1>NATIONAL EARLY WARNING SCORE 2 (NEWS2)</h1>
		<table>
			<tr>
				<th>Fysiologiska parametrar</th>
				<th class="text-center">3</th>
				<th class="text-center">2</th>
				<th class="text-center">1</th>
				<th class="text-center">0</th>
				<th class="text-center">1</th>
				<th class="text-center">2</th>
				<th class="text-center">3</th>
			</tr>
			<tr>
				<th>Andningsfrekvens</th>
				<td class="column3"><input type="radio" name="andningsfrekvens" value="3" id="anf_1"/><label for="anf_1">≤8</label></td>
				<td class="column2"></td>
				<td class="column1"><input type="radio" name="andningsfrekvens" value="1" id="anf_2"/><label for="anf_2">9-11</label></td>
				<td class="column0"><input type="radio" name="andningsfrekvens" value="0" id="anf_3"/><label for="anf_3">12-20</label></td>
				<td class="column1"></td>
				<td class="column2"><input type="radio" name="andningsfrekvens" value="2" id="anf_4"/><label for="anf_4">21-24</label></td>
				<td class="column3"><input type="radio" name="andningsfrekvens" value="3" id="anf_5"/><label for="anf_5">≥25</label></td>
			</tr>
			<tr>
				<th>Syremättnad 1</th>
				<td class="column3"><input type="radio" name="syremättnad1" value="3" id="syrma_1"/><label for="syrma_1">≤91</label></td>
				<td class="column2"><input type="radio" name="syremättnad1" value="2" id="syrma_2"/><label for="syrma_2">92-93</label></td>
				<td class="column1"><input type="radio" name="syremättnad1" value="1" id="syrma_3"/><label for="syrma_3">94-95</label></td>
				<td class="column0"><input type="radio" name="syremättnad1" value="0" id="syrma_4"/><label for="syrma_4">≥96</label></td>
				<td class="column1">  </td>
				<td class="column2">  </td>
				<td class="column3">  </td>
			</tr>
			<tr>
				<th>Syremättnad 2</th>
				<td class="column3"><input type="radio" name="syremättnad2" value="3" id="syrmb_1"/><label for="syrmb_1">≤83</label></td>
				<td class="column2"><input type="radio" name="syremättnad2" value="2" id="syrmb_2"/><label for="syrmb_2">84-85</label></td>
				<td class="column1"><input type="radio" name="syremättnad2" value="1" id="syrmb_3"/><label for="syrmb_3">86-87</label></td>
				<td class="column0"><input type="radio" name="syremättnad2" value="0" id="syrmb_4"/><label for="syrmb_4">88-92</label></td>
				<td class="column1"><input type="radio" name="syremättnad2" value="1" id="syrmb_5"/><label for="syrmb_5">93-94<p>med syrgas</p></label></td>
				<td class="column2"><input type="radio" name="syremättnad2" value="2" id="syrmb_6"/><label for="syrmb_6">95-96<p>med syrgas</p></label></td>
				<td class="column3"><input type="radio" name="syremättnad2" value="3" id="syrmb_7"/><label for="syrmb_7">≥97<p>med syrgas</p></label></td>
			</tr>
			<tr>
				<th>Tillförd syrgas</th>
				<td class="cell, column3"></td>
				<td class="cell, column2">Ja </td>
				<td class="cell, column1"></td>
				<td class="cell, column0">Nej </td>
				<td class="cell, column1"></td>
				<td class="cell, column2"></td>
				<td class="cell, column3"></td>
			</tr>
			<tr>
				<th>Systoliskt blodtryck</th>
				<td class="cell, column3"> ≤90 </td>
				<td class="cell, column2"> 91-100 </td>
				<td class="cell, column1"> 101-110 </td>
				<td class="cell, column0"> 111-219 </td>
				<td class="cell, column1">  </td>
				<td class="cell, column2">  </td>
				<td class="cell, column3"> ≥220 </td>
			</tr>
			<tr>
				<th>Pulsfrekvens**</th>
				<td class="cell, column3"> ≤40 </td>
				<td class="cell, column2">  </td>
				<td class="cell, column1"> 41-50 </td>
				<td class="cell, column0"> 51-90 </td>
				<td class="cell, column1"> 91-110 </td>
				<td class="cell, column2"> 111-130 </td>
				<td class="cell, column3"> ≥131 </td>
			</tr>
			<tr>
				<th>Medvetandegrad***</th>
				<td class="cell, column3">  </td>
				<td class="cell, column2">  </td>
				<td class="cell, column1">  </td>
				<td class="cell, column0"> A </td>
				<td class="cell, column1">  </td>
				<td class="cell, column2">  </td>
				<td class="cell, column3"> C V P U </td>
			</tr>
			<tr>
				<th>Temperatur</th>
				<td class="cell, column3"> ≤35.0 </td>
				<td class="cell, column2">  </td>
				<td class="cell, column1"> 35,1-36,0 </td>
				<td class="cell, column0"> 36,1-38,0 </td>
				<td class="cell, column1"> 38,1-39,0 </td>
				<td class="cell, column2"> ≥39,1 </td>
				<td class="cell, column3">  </td>
			</tr>
		</table>

			<div class="info-section">
			<p>* Avsteg från övervakningsfrekvens kan göras av ansvarig läkare efter bedömmning av patienten</p>
			</div>
	</div>
		<div class="controls">
		<a  class="newsbutton submit" asp-controller="Patient" asp-action="Index">Ny mätning</a>
		<div class="separator"></div>
		<a  class="newsbutton" asp-controller="Patient" asp-action="Statistics">Visa historik</a>
		</div>
	</div>

	<script>
	//override för mousedown, annars fungerar inte select/deselect i tabellen.
	document.addEventListener("mousedown", (e) => {
	//om klick på label, hämtar radioknapp genom for attributet
    const radio = document.querySelector("#" + e.target.attributes.for.nodeValue);
	//om redioknappen har klickats i, sätt dit en ny klickfunktion som sätter checked till false, och tar bort sig själv efter den aktiverats.
    if (radio.checked) {
        const override = () => {
            radio.checked = false;
            radio.removeEventListener("click", override);
        }
        radio.addEventListener("click", override);
    }
	});
	</script>

</div>

