@{
    ViewData["Title"] = "Statistics";
}
<link rel="stylesheet" href="~/css/NEWS.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/slider.css" asp-append-version="true" />
<div class="text-center">
    @*Historik och graf*@
   <div class="content-wrapper">
		<div class="title-section">
			    <div class="patient-wrapper">
				    <div class="white-on-blue">
					    <p>Historik för patient 4:</p>
				    </div>
				    <div>
					    <p>1991-09-26-XXXX</p>
				    </div>
			    </div>
			    <span></span>
            <div class="options-container">
                <label for="toggle">Avancerad graf</label>
            <label class="switch">
                <input type="checkbox" name="toggle" id="toggle-chart" />
                <span class="slider round"></span>
            </label>
            
            </div>
	    </div>
        <div class="chart-container">
            <canvas class="chart top" id="simple-chart"></canvas>
            <canvas class="chart bot hide" id="advanced-chart"></canvas>
        </div>
   </div>

    <div class="controls">
	    <a  class="newsbutton submit" asp-controller="Patient" asp-action="Index">Ny mätning</a>
        <div class="separator"></div>


        <button class="newsbutton" type="submit" onclick="openPopup()">Radera senaste mätning</button>
		@* onclick="openPopup()"*@
		<div class="overlay"></div>
	<div class="popup" id="popup">
			<button class="closepopupwindow" onclick="closePopup()">X</button>

		<h2>Är du säker på att du vill radera senaste mätning?</h2>
			<button type="button" onclick="closePopup()">Radera senaste</button>
	</div>
		<button class="newsbutton delete" type="submit" onclick="openPopup()">Radera all historik</button>
		@* onclick="openPopup()"*@
		<div class="overlay"></div>
		<div class="popup" id="popup">
			<button class="closepopupwindow" onclick="closePopup()">X</button>

			<h2>Är du säker på att du vill radera all tidigare historik?</h2>
			<button type="button" onclick="closePopup()">Radera all historik</button>
		</div>
		@*<a  class="newsbutton" asp-controller="Patient" asp-action="Statistics">Radera senaste mätning</a>
        <a class="newsbutton delete" asp-controller="Patient" asp-action="Statistics">Radera all historik</a> *@
	</div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module">

        // importera simpel och avancerad graf
        import  simpleChart  from "/js/simpleChart.js";
        import  advancedChart  from "/js/advancedChart.js";

        //hämta html element
        const toggle = document.querySelector("#toggle-chart");
        const simple = document.querySelector("#simple-chart");
        const advanced = document.querySelector("#advanced-chart");

        //toggla mellan charts
        toggle.addEventListener("input", () => {
            simple.classList.toggle("hide");
            advanced.classList.toggle("hide");
        });

    </script>
    <script>
		// Get the popup and overlay elements
		let popup = document.getElementById("popup");
		let overlay = document.querySelector(".overlay");

		function openPopup() {
			// Show the popup and overlay
			popup.classList.add("openPopup");
			overlay.style.display = "block";
		}

		function closePopup() {
			// Hide the popup and overlay
			popup.classList.remove("openPopup");
			overlay.style.display = "none";
		}


	</script>

</div>

