@{
    ViewData["Title"] = "Statistics";
}
<link rel="stylesheet" href="~/css/NEWS.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/slider.css" asp-append-version="true" />
<div class="text-center">
    @*Historik och graf*@
   <div class="content-wrapper">
		<div class="title-section">
			    <div class="patient-wrapper">
				    <div class="white-on-blue">
					    <p>Historik för patient 4:</p>
				    </div>
				    <div>
					    <p>1991-09-26-XXXX</p>
				    </div>
			    </div>
			    <span></span>
            <div class="options-container">
                <label for="toggle">Avancerad graf</label>
            <label class="switch">
                <input type="checkbox" name="toggle" id="toggle-chart" />
                <span class="slider round"></span>
            </label>
            
            </div>
	    </div>
        <div class="chart-container">
            <canvas class="chart top" id="simple-chart"></canvas>
            <canvas class="chart bot hide" id="advanced-chart"></canvas>
        </div>
   </div>

    <div class="controls">
	    <a  class="newsbutton submit" asp-controller="Patient" asp-action="Index">Ny mätning</a>
        <div class="separator"></div>
	    <a  class="newsbutton" asp-controller="Patient" asp-action="Statistics">Radera senaste mätning</a>
        <a  class="newsbutton delete" asp-controller="Patient" asp-action="Statistics">Radera all historik</a> 
	</div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module">

        // importera simpel och avancerad graf
        import  simpleChart  from "/js/simpleChart.js";
        import  advancedChart  from "/js/advancedChart.js";

        //hämta html element
        const toggle = document.querySelector("#toggle-chart");
        const simple = document.querySelector("#simple-chart");
        const advanced = document.querySelector("#advanced-chart");

        //toggla mellan charts
        toggle.addEventListener("input", () => {
            simple.classList.toggle("hide");
            advanced.classList.toggle("hide");
        });

    </script>

</div>

